* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/HD-wallpaper-world-flags-blue-england-flag-flagblanc-grunge-red-roug-spain.jpg);

}

.main{
    display: block;
    justify-content: center;
}

.contenedor{
    display: inline-block;
    justify-content: center;
    background-color: #FFFFFF;
    width: 500px;
    height: 450px;
    border-radius: 4px;
}